body {
    color: #000000;
}
.form-list .half{
	float: right;
    margin-bottom: 15px;
    margin-left: 18px;
    width: 49%;
}
.form-list .half > label{
	min-width:110px
}
.form-list .one-third{
	float: right;
    margin-bottom: 15px;
    margin-left: 18px;
    width: 30%;
}
.form-list .two-third{
	float: right;
    margin-bottom: 15px;
    margin-left: 18px;
    width: 60%;
}
.form-list .one-third label{
	min-width:50px;
}
.form-list .one-third label:first-child{
	min-width:100px;
	display: block;
}
.form-list .two-third input[type=text],.form-list .two-third  select{
	width:436px;
}
.form-list .input.error{
	padding:0;
	margin:0;
	margin-bottom: 15px;
    margin-left: 18px;
}
.form-row{
	clear:both;
}
.form-error{
	border:solid 1px #E88B8B;
}
/********************************************************/
/*                     22. Tooltips                     */
/********************************************************/

/* Root elements */
#tooltips, #tooltips-over {
	position: absolute;
	top: 0;
	left: 0;
	}
	#tooltips {
		z-index: 999100;
	}
	#tooltips-over {
		z-index: 999500;
	}
	#tooltips .message,
	#tooltips-over .message {
		position: absolute;
		white-space: nowrap;
		max-width: 300px;
	}

/* Tooltips inserted inside some elements */
.message.inner-tooltip {
	position: absolute;
	display: block;
	left: 50%;
	bottom: 100%;
	text-align: center;
	margin: 0 0 10px 0;
	min-width: 16px;
	max-width: 250px;
	z-index: 89;
	pointer-events: none;
	white-space: nowrap;
	}
	.message.inner-tooltip.right {
		left: 100%;
		top: 50%;
		bottom: auto;
		margin: -15px 0 0 10px;
	}
	.message.inner-tooltip.bottom {
		top: 100%;
		bottom: auto;
		margin: 10px 0 0 0;
	}
	.message.inner-tooltip.left {
		left: auto;
		right: 100%;
		top: 50%;
		bottom: auto;
		margin: -15px 10px 0 0;
	}
	.message.inner-tooltip.right.compact,
	.message.inner-tooltip.left.compact {
		margin-top: -10px;
	}

/****************  Select , Inputs *************/
select{
    font-size: 12px;
}
optgroup{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    font-family: tahoma;
    background-color: #444;
    color: #FFF;
}
optgroup option{
    background-color: #FFF;
    color: #000;
}

.info, .warning, .error, .success, label, input, button, select, textarea,form .error-message{
    font-size: 14px;
}
.alert.warning {
    background-color: #FDAF40;
    color: #925700;
}
/******* Fix Bootstrap ********/
.btn{
    line-height: 11px;
}
#toolbar{
    margin: 0 25px 10px 0;
}
.alert{
    text-shadow: none;
}
.menu .sub-menu{
    font-size: 12px;
}
.label-information{
    margin-bottom: 22px;
    color:#840000;
}
span.information {
    margin: 0;
}
.three-third{
    float: none;
    clear:both;
    margin-bottom: 15px;
    margin-left: 18px;
    width: 100%;
}
.login-widget div.input, .login-widget div.submit{
    margin: 0 3px;
}
.login-widget div.submit{
    text-align: left;
}
.login-widget form label{
    color: #FFFFFF;
    margin: 4px;    
}
hr.line{
    border-bottom: 1px solid #EEEEEE;
    visibility: visible;
    height: auto;
}
/******* Profile *************/
.profile-logo{
    float: left;
    width: 100px;
    height: 100px;
    background-color: #EEE;
}
.profile-about{
    float: right;
    height: 280px;
    padding: 10px;
    width: 452px;
}
.profile-about-content{
    height: 229px;
    overflow-y: scroll;
    width: 450px;
}
.profile-about-title{
    margin: 0;
    border-bottom: 1px solid #DDDDDD;
}
.profile-about-content p{
    margin: 0;
    font-size: 14px;
}
.profile-menu{
    float:right;
}
.profile-info{
    background-color: #EDEDED;
    display: inline-block;
}
.profile-pic{
    text-align: center;
    margin: 10px;
    float:right;
}
.profile-info-item{
    margin: 10px;
    color: #85B602;
    float:right;
    width: 240px;
}
.profile-info-item label{
    min-width: 80px;
}

.profile-menu .menu a{
    color:black;
    text-decoration: none;
    display: block;
    padding: 7px 16px;
}
.profile-menu .menu a:hover{
    color:highlight;
}
.profile-menu .menu li{
	background:url(../img/new/seperator.png) no-repeat left;
    list-style: none;
    float: right;
    max-height: 30px;
}
.profile-menu .menu>li:last-child{
	background:none ; 
}
.profile-menu .menu li:hover{
    background-color: #E8EAEF;
    cursor: pointer;
}

.profile-menu .menu{
    padding: 0;
    margin: 0;
}
.profile-menu .menu .active{
    background-color: #E8EAEF !important;
    border-top: 1px solid #BCBFC5;
}

.profile-menu .menu li ul{
   visibility: hidden;
    position: absolute;
    padding: 0;
    float: right;
    width: auto;
    z-index:100;
    *float:none;
    *position: relative;
    *right:0;
}

.profile-menu .menu li:hover ul{
    visibility: visible;
    *float:none;
    *position: relative;
    *right:0;
    *zoom:1;
    
}
.profile-menu .menu li ul li{
    float: none;
    border: none;
	border-bottom:1px solid #BCBFC5;
	background-color: #E8EAEF;
    width: auto;
}
.profile-menu .menu li ul li.active{
	border-right: 4px solid #BCBFC5;
}
.profile-menu .menu li ul li a{
    min-width:100px;
}
footer{
    color: #FFFFFF;
}
.form-filter .submit input, .form-filter a{
    margin: 0 5px;
    padding: 2px 12px;
}
.form-filter a{
    background: -moz-linear-gradient(center top , #FFFFFF, #E0E0E0) repeat scroll 0 0 transparent;
    border: 1px solid #B7B6B6;
    color: #000000 !important;
    border-radius: 0.4em 0.4em 0.4em 0.4em;
    box-shadow: 0 2px 0 #CFCFCF;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    outline: medium none;
    position: relative;
    text-align: center;
    text-decoration: none;
    height:19px;
    padding-top: 7px;
    padding-bottom: 0;
    height: 17px;
}
.form-filter label{
    min-width: inherit;
}

.pagination .page.active{
    padding: 4px 12px;
    float: right;
    border: 1px solid #DDD;
    border-right: none;
}
.pagination .pages{
    margin-right: 5px;
}
.pagination .disabled{
    padding: 4px 12px;
    float: right;
    border: 1px solid #DDD;
    border-right: none;
}
.pagination .disabled:first-child{
    border: 1px solid #DDD;
}
.count{
    top:0;
}
a:hover{
    text-decoration: none;
}
#topMenu {
    float: left;
    margin-top: 70px;
}

#topMenu a{
    margin: 0 3px;
    padding: 10px;
}
form .error-message {
    margin-right: 0;
    margin-left: 10px;
}

#loginForm{
    background-color: #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 3px 2px 4px #CCCCCC;
    margin-top: 10px;
    padding: 15px;
    position: absolute;
    z-index: 100;
}