/* 
    Document   : style
    Created on : Nov 11, 2012, 11:04:15 AM
    Author     : Administrator
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: "BBCNassim";
    src: url("../fonts/BBCNassim.eot?#") format("eot"), url("../fonts/BBCNassim.woff") format("woff"), url("../fonts/BBCNassim.ttf") format("truetype");
}

.subnav ul.menu li a{
    font-size: 17px;
}

body,html{
    background-image: url('../img/global/tiny_grid.png');
    background-repeat: repeat;
    font-family: "BBCNassim" !important;
}

#respond label{
    display: block !important;
}

.preview blog-main-preview{
    text-align: justify !important;
}

.footer-default-two table td{
    padding: 5px;
}

.one_half img{
    border: 7px solid #FFFFFF;
    border-radius: 5px;
}

.weblinks tr{
    line-height: 30px;
    border-bottom: 1px dashed #cccccc;
}

.weblinks tr:first-child{
    border-bottom: 2px solid #cccccc;
    font-family: 'BJalal';
    font-size: 21px;
    line-height: 30px;
    padding: 0;
}

.weblinks tr:last-child{
    border-bottom: none !important;
}

.postinfo{
    border-bottom: 1px solid #cccccc;
}